:root{
    --header-font:'Josefin Sans', sans-serif; 
    --secondary-font:'PT Sans Narrow', sans-serif ;
    --primary-color: #eaf6f6; 
    --secondary-color:  #66bfbf;
    --third-color:#fcfefe;
    --fourth-color: #f76b8a;

}
.hero{
    background-color: var(--primary-color);
    margin: 0;
    padding: 160px 20px 130px;
}
.hero p {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--secondary-font);
    text-align: center;
}
h1 {
    font-size: 80px;
    font-family: var(--header-font);
    text-align: center;
}
h2 {
    font-size: 25px;
    line-height: 2;
    text-align: center;
    font-family: var(--secondary-font);
}

h3 {
    font-size: 18px;
    font-family: var(--secondary-font);
    margin-left: 342px;
}
    
.hero a {
    font-size: 17px;
    margin-right: 150px;
    margin-top: 100px;
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--fourth-color);
    border-radius: 20px;
    padding: 10px 35px;
    border: solid 1px var(--secondary-color);
    font-family: var(--secondary-font);
    box-shadow:1px 16px 20px -10px rgba(0,0,0,0.25);
}
.hero a:hover{
    background-color: var(--third-color);
}

p{
    font-size: 36px;
    font-weight: bold;
    font-family: var(--primary-font);
    text-align: center;

}
ul{
    list-style: none;
}
li{
    font-size: 20px;
    font-family: var(--secondary-font);
    text-align: left; 
    line-height: 35px;

}
img {
    box-shadow:1px -1px 19px 0px rgba(0,0,0,0.24);
    border-radius: 20px;
}
img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.100);
    -ms-transform: scale(1.100);
        transform: scale(1.100);
}
@media (max-width: 576px) {
    .hero{
        text-align: center;
    }
    h1{
        font-size: 50px;
    }
    h3{
        margin: 0;
    }
    
}