:root{
    --header-font:'Josefin Sans', sans-serif;
    --secondary-font: 'Halant', serif;
    --primary-color: #eaf6f6; 
    --secondary-color:  #66bfbf;
    --third-color:#fcfefe;
    --fourth-color: #f76b8a;
    
}
.navbar-light .navbar-nav .nav-link  {
font-family: var(--header-font);
color: var(--secondary-color)
} 
.hero{
    background-color: var(--primary-color);
    margin: 0;
    padding: 160px 20px 90px;
}
.hero p {
    font-size: 30px;
    font-weight: bold;
    font-family: var(--secondary-font);
    text-align: center;
}
h1 {
    font-size: 80px;
    font-family: var(--header-font);
    text-align: center;
}
h2 {
    font-size: 25px;
    line-height: 2;
    text-align: center;
    font-family: var(--secondary-font);
}

h3 {
    font-size: 18px;
    font-family: var(--secondary-font);
    margin-left: 284px;
}
    
.hero .button {
    font-size: 17px;
    margin-right: 150px;
    margin-top: 100px;
    background-color: var(--secondary-color);
    text-decoration: none;
    color: var(--third-color);
    border-radius: 20px;
    padding: 10px 35px;
    border: solid 1px var(--secondary-color);
    font-family: var(--header-font);
    box-shadow: -2px 11px 22px rgba(0, 0, 0, 0.1);
}
.hero .button:hover{
    background-color: var(--third-color);
    color: var(--secondary-color);
    
}
div .arrow {
    font-size: 20px;
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
}
div .arrow:hover{
    font-size: 30px;
    
}

p{
    font-size: 36px;
    font-weight: bold;
    font-family: var(--header-font);
    text-align: center;

}
h4{
    font-size: 20px;
    font-family: var(--secondary-font);
    text-align: left; 
    line-height: 27px;
}
ul{
    list-style: none;
     padding: 0;
}
li{
    font-size: 15px;
    font-family: var(--primary-font);
    text-align: left; 
    line-height: 25px;
    font-weight: bold;

}
div .link  a{
    font-size: 15px;
    font-family: var(--primary-font);
    text-decoration: none;
   
    background-color: var(--secondary-color);
    color: var(--third-color);
    border-radius: 15px;
    padding: 10px 20px;
    border: solid 1px var(--secondary-color);
    font-family: var(--header-font);
    transition: all 100ms ease-in-out;
}
div .link a:hover{
    background-color: var(--third-color);
    color: var(--secondary-color);
    
}


 .hero-container img {
    border-radius: 4px;
    filter:  saturate(74%);
    transition: all 100ms ease-in-out;
}
   
  
.hero-container img:hover{
    cursor: pointer;
    -webkit-transform: scale(1.050);
    -ms-transform: scale(1.050);
        transform: scale(1.050);
        filter:  saturate(110%);
        box-shadow: -2px 11px 22px rgba(0, 0, 0, 0.1);  
}

.content-container{
    padding: 160px 0px  50px 0px;
}
.content-container img{
    border-radius: 4px;
    -webkit-transform: none;
    transform: none;
    filter: none;
    cursor: none;
    border: 1px solid rgb(102, 100, 100)
}
.content-container h1{
    font-size: 40px;
    font-family: var(--header-font);
    line-height: 100px;
}
.content-container h2{
    font-size: 25px;
    line-height: 30px;
    font-family: var(--secondary-font);
}
.contact{
    background-color: var(--primary-color);
    margin-top: 100px;
    border-radius: 10px;
}
.content-container h3{
    margin: 0 0  0 65px;
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
    font-family: var(--header-font);
}
.resume a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-size: 17px;
    font-family: var(--secondary-font);
}
.content-container .contact a{
    text-decoration: none;
    color: black;
    opacity: 0.6;
    line-height: 30px;
    font-size: 15px;
    font-family: var(--header-font);
}
.icon{
    font-size: 22px;
}
.content-container p {
    font-size: 18px;
    font-family: var(--secondary-font);
    font-weight: bold;
}
.photography-hero{
    background-color: var(--primary-color);
    margin: 0;
    padding: 146px 20px 90px;
}
.photography-hero h1{
    font-size: 67px;
    
}
.photography-hero .arrow{
    margin-top: 130px;
}
.project img {
    border: none;
    border-radius: 10px;
}
.project p{
    font-size: 25px;
    font-weight: bold;
    font-family: var(--header-font);
    color: var(--secondary-color);
}
.top{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding:  30px ;
}
div .footer{
text-align: center;
}
div footer a {
    color: var(--secondary-color);
    background: var(--primary-color);
    font-size: 15px;
    transition: all 100ms ease-in-out;
    margin-right: 20px;
    padding: 15px;
    border-radius: 100px;
}
div footer a:hover{
    background-color: var(--secondary-color);
    color: var(--third-color);
}

@media (max-width: 576px) {
    .hero{
        text-align: center;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        margin: 0;
    }
   
    
}